[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	ignore = dirty
[submodule "vendor/mlx-swift-lm"]
	path = vendor/mlx-swift-lm
	url = https://github.com/ml-explore/mlx-swift-lm.git
	ignore = dirty
[submodule "vendor/xgrammar"]
	path = vendor/xgrammar
	url = https://github.com/mlc-ai/xgrammar.git
	ignore = dirty
